<div>
    <form action="" method="POST">
        {{!-- action tương tự như đường dẫn thẻ a, thêm /địa chỉ , sau đó form này sẽ tìm kiếm sang đường dẫn mà bạn đã
        trỏ trong action --}}
        <div class=" form-group">
            <label for="">Từ khoá</label>
            <input type="text" name="q" class="form-control" />
        </div>
        <button type="submit" class="">Tìm kiếm</button>
    </form>
</div>